*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Lato, sans-serif;
    /* width:90%;
    margin-left: auto;
    margin-right: auto; */
}

/* icons */
.time{
    margin-right: 20px;
    color: black;
    margin-top: 10px;
}
nav{
    float:right;
}
.nav-container {
    height: 50px;
    width: 100%;
    background: #4E6B89;
    line-height: 50px;

}
.nav-container a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    vertical-align: middle;
    cursor: pointer !important;
}

.content{
    display: block;
}

/* home Container */
.home-container{
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
    margin-left: auto;
    margin-right: auto; 
    width: 1080px;
    margin-top: 30px;
}
.image-container{
    /* display: inline-block; */
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;

}
.avtar {
    width: 250px;
    height: 250px;
    background-color: #4E6B89;
    border-radius: 50%;
    padding: 1px;
    margin-top: 20px;

}
.basic-information{
    /* display: inline-block; */
    padding: 20px;
    text-align: center;
    
}
.title {
    font-size: 45px;
    color: #363949;
    /* position: absolute;
    top:90px; */
    
}
.sub-title{
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
    /* position: absolute;
    top: 150px; */
}
.info{
    margin-top: 20px;
}

.social-media-icons {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
    /* float: right; */
}
.icon {
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-align: left;
    padding:15px;
    font-family: Lato, sans-serif !important ;

}
.fa{
    /* display: block !important; */
    color:black;
    padding:5px 15px;
    font-size: 15px !important; 
}

/* About Container */
.about-container{
    padding: 20px 90px;

}
.terminal-header {
    display: flex;
    align-items: center;
    height: 28px;
    width: 100%;
    background-color:#4E6B89;
    border-radius: 8px 8px 0 0;
}

.terminal-header-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #100b08;
}

.terminal-window {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
    border-radius: 0 0 8px 8px;
    padding: 2px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
}

.stat {
    margin: 20px;
}

.input-stat {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 18px;
}

.input-stat:before {
    content: ">\A0";
}

.output-stat {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    color: #734f38;
    margin: 3px 0;
    position: relative;
    padding: 10px;
    word-break: break-word;
}
.output-stat a{
    color: #734f38;
}

/* Education */
.education-container{
    text-align: center;
    padding: 20px 90px;

}
.years{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
}

.year{
    position: relative;
top:40px;
}
.arrow{
    display: inline-block;
}
.arrow .fa{
    top: 150px;
    padding: 0px !important;
    font-size: 30px !important;
    position: absolute;
}
.education-content{
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
    margin-top: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}
.education-img{
    display: inline-block;
    padding:20px;
    width:100px;
    height:50px;

}
.year-data {
    padding:20px
}
.education-info{
    margin-top: 20px;
}

/* Experience Container */
.experience-container{
    text-align: center;
    padding: 20px 90px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    
  }
  th{
      text-transform: uppercase;
  }
  table{
    width: 100%;
    margin-top: 50px;
  }


  /* Project COntainer */

  .projects-container{
    padding: 20px 90px;
  }

.project-card {
    box-shadow: 0 50px 100px rgba(50, 50, 93, .05), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BFD5EA;
}

.card-header {
    display: flex;
    align-items: center;
    margin: 30px 10px;
    color: #100b08;
}

.card-text h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.75;
}

.card-about p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.5px;
    font-family: lato, serif;
}

.card-about a {
    text-decoration: none;
}

.card-tags {
    text-align: center;
}

.card-tags span {
    color: #100b08;
    background-color: #BFD5EA;
    border-style: outset;
    border-color: #BFD5EA;
    border-radius: 8px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 11px;
}

.source{
    display: inline-block;
    box-shadow: 0 3px 6px rgba(50, 50, 93, .1), 0 1px 4px rgba(0, 0, 0, .2);
    background-color: #BFD5EA;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 14px;
    margin: 15px;
   color: black;
}


@media screen and (max-width: 800px) {
    .home-container{     
        width: 350px;
        margin-top: 30px;
    
    }
    .image-container{
        margin-top: 30px;

    }
    .about-container{
        padding: 10px;
    }
    .nav-container{
        height:150px
    }
   
    .education-container{
        width: 350px;
        padding: 10px;
    }
    .education-content{
        width: 350px;

    }
    .years{
        margin: 10px;
    }

   .experience-container{
       padding: 5px;
   }

   table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 0px;
    
  }

  .projects-container{
      padding: 10px;
  }
      
     
}